.opin-rating {
    margin-bottom: 15px;
}
.rating-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}
.opin-rating  .rating-box {
    border-left: 5px solid #ebebeb;
    padding-left: 10px;
}
.rating-box h4 {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    min-width: 90px;
    font-weight: 400;
    font-size: 14px;
}
.rating-box .rate-group {
    vertical-align: top;
}
.rate {
    width: 13px;
    height: 13px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #9a9a9a;
    font-size: 0;
    vertical-align: middle;
}
.rate.blue {
    background: #0000ff;
}
.rate.white {
    background: #fff;
}
.rate.red {
    background: #ff0000;
}
.rate.black {
    background: #000;
}
.rate.green {
    background: #00ff00;
}
.rate:not(.active) {
    background: #d3d3d3;
    opacity: 0.5;
}
.rating-box .rate-group .rate {
    vertical-align: middle;
}
