@import url('../fonts/helvetica/helvetica-bold.css');
@import url('../fonts/helvetica/helvetica-regular.css');

@font-face {
	font-family: "helvetica-regular";
	src: url("../fonts/helvetica/helvetica-regular.eot");
	src: url("../fonts/helvetica/helvetica-regular.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/helvetica/helvetica-regular.woff") format("woff"),
		 url("../fonts/helvetica/helvetica-regular.ttf") format("truetype"),
		 url("../fonts/helvetica/helvetica-regular.svg#helvetica-regular") format("svg");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: "helvetica-bold";
	src: url("../fonts/helvetica/helvetica-bold.eot");
	src: url("../fonts/helvetica/helvetica-bold.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/helvetica/helvetica-bold.woff") format("woff"),
		 url("../fonts/helvetica/helvetica-bold.ttf") format("truetype"),
		 url("../fonts/helvetica/helvetica-bold.svg#helvetica-bold") format("svg");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.homeMain h2 {font-family: "helvetica-bold"; font-size:24px;letter-spacing: 4px; line-height:1.3;}
.homeMain h2.dashheading { text-transform:uppercase;}
.profileBox .profileImg img {display:block; width:100%;}
.profileBox .profileImg {position: absolute;min-width: 235px;border: 1px solid #000;z-index:1;left:0; top:0;}
.profileBox .profileDetails {background-color: #fff;margin-top: 30px;padding: 30px;padding-left: 270px;display: block;float: none !important;}
.profileBox .profileDetails h3 {font-size: 30px;font-weight: 700;margin-bottom: 20px; line-height:1.3;margin-top:0; text-transform:capitalize;}
.profileBox .profileDetails p {color:#808080;}
.profileBox .profileDetails strong {color:#000;}
.homeMain { padding: 30px;background-color:#eaeff2;font-family:'helvetica-regular'; font-size:14px;    overflow: hidden;	}  
.homeTabing{padding:30px 0 0 0;}
.homeTabing .tab-content{background:#fff;padding:30px;border-top:2px solid #50b948;}
.homeMain .field textarea{padding:10px;width:100%;background:#fbfdfd;border-bottom:2px solid #607d8b;border-left:1px solid #eaeff2;border-right:1px solid #eaeff2;border-top:1px solid #eaeff2;resize:none;font-size:14px;color:#aeaeae;font-weight:400;}
.homeTabing .field textarea{height:110px;}
.homeMain .field{font-size:14px;color:#000000;font-weight:400; margin-bottom:30px;}
.mb30{margin-bottom:30px;}
.homeTabing .nav-tabs{text-align:right;}
.homeTabing .nav-tabs>li{width:150px;float:none;display:inline-block;border:0;text-align: center;}
.homeMain .nav-tabs>li>a{font-size:15px;color:#000000;font-weight:400;background:#d9e1e5;border-radius:0;margin: 0;border-left:0;border-right:0;border-bottom:2px solid #50b948;}
.homeTabing .nav-tabs>li>a:hover {background-color:#fff;}
.homeTabing .nav-tabs>li.active>a, .homeTabing .nav-tabs>li.active>a:focus, .homeTabing .nav-tabs>li.active>a:hover{border-left:0;border-right:0;border-bottom:2px solid #fff !important;border-top:3px solid #50b948;color:#50b948;background-color:#fff;}
.homeTabing  .nav-tabs{border-bottom:none;margin-bottom: -1px;position:relative;z-index:3;}
.tabsButtons{padding:20px 0 0 0;}
.homeMain .btn{padding:0 44px;background:#50b948;color:#fff;height:40px;line-height:40px;border-radius:3px;display:inline-block;font-size:14px;font-weight:400; border:0;}
.homeMain .btn.blue {background:#5463b1;}
.homeMain .btn:hover, .homeMain .btn:focus{background:#5463b1;color:#fff;border:0;}
.homeMain .btn.blue:hover {background:#50b948;}
.selectRole {margin-top: 30px;margin-bottom: 30px;}
.homeMain select, .homeMain input[type="text"], .homeMain input[type="email"], .homeMain input[type="number"], .homeMain textarea {display:inline-block; width:100%;  background-color:#fbfdfd; border-color:#eaeff2; border-bottom:2px solid #607d8b; padding:8px; -webkit-appearance:none;-moz-appearance:none; position:relative; max-width:100%; font-size:14px;height:auto;border-radius:0;}
.sorting .col-sm-3 {padding-left: 0;}
.homeMain .dashboardContent select{max-width:350px;width:100%;}
.homeMain .dashboardContent .cfrpCreateRole select{max-width:100%;width:100%;}
.homeMain label {display:block;text-align:left; font-weight:normal;}
.homeMain select {background-image:url('../images/select-bg.png'); background-repeat:no-repeat; background-position:right center; padding:8px 0 !important;text-indent: 10px;}
.colorBoxes li {background-color: #000;color: #fff;padding: 20px 30px;font-size: 30px;margin: 0 10px;}
.colorBoxes li.blue {background-color:#055ec3;}
.colorBoxes li.pink {background-color:#ec407a;}
.colorBoxes li.grey {background-color:#607d8b;}
.colorBoxes li.purple {background-color:#9c27b0;}
.dashboardContent .tabsButtons { margin: 0px 0 30px; padding: 0; }

/*=====================Progress Bar================================*/

.progress {width: 200px;height: 200px;line-height: 200px;background: none;margin: 0 auto;box-shadow: none;position: relative;}
.progress:after {content: "";width: 100%;height: 100%;border-radius: 50%;border: 20px solid #eee;position: absolute;top: 0;left: 0;}
.progress > span {width: 50%;height: 100%;overflow: hidden;position: absolute;top: 0;z-index: 1;}
.progress .progress-left {left: 0;}
.progress .progress-bar {width: 100%;height: 100%;background: none;border-width: 20px;border-style: solid;position: absolute;top: 0;border-color: #ffb43e;}
.progress .progress-left .progress-bar {left: 100%;border-top-right-radius: 125px;border-bottom-right-radius: 125px;border-left: 0;-webkit-transform-origin: center left;transform-origin: center left;}
.progress .progress-right {right: 0;}
.progress .progress-right .progress-bar {left: -100%;border-top-left-radius: 125px;border-bottom-left-radius: 125px;border-right: 0;-webkit-transform-origin: center right;transform-origin: center right;}
.progress .progress-value {display: flex;border-radius: 50%;font-size: 34px;text-align: center;line-height: 20px;align-items: center;justify-content: center;height: 100%;font-weight: 300;color: #707070;}
.progress .progress-value div {margin-top: 10px;}
.progress .progress-value span {font-size: 12px;text-transform: uppercase;}

/* This for loop creates the 	necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/

.progress[data-percentage="10"] .progress-right .progress-bar {animation: loading-1 1.5s linear forwards;}
.progress[data-percentage="10"] .progress-left .progress-bar {animation: 0;}
.progress[data-percentage="20"] .progress-right .progress-bar {animation: loading-2 1.5s linear forwards;}
.progress[data-percentage="20"] .progress-left .progress-bar {animation: 0;}
.progress[data-percentage="30"] .progress-right .progress-bar {animation: loading-3 1.5s linear forwards;}
.progress[data-percentage="30"] .progress-left .progress-bar {animation: 0;}
.progress[data-percentage="40"] .progress-right .progress-bar {animation: loading-4 1.5s linear forwards;}
.progress[data-percentage="40"] .progress-left .progress-bar {animation: 0;}
.progress[data-percentage="50"] .progress-right .progress-bar {animation: loading-5 1.5s linear forwards;}
.progress[data-percentage="50"] .progress-left .progress-bar {animation: 0;}
.progress[data-percentage="60"] .progress-right .progress-bar {animation: loading-5 1.5s linear forwards;}
.progress[data-percentage="60"] .progress-left .progress-bar {animation: loading-1 1.5s linear forwards 1.5s;}
.progress[data-percentage="70"] .progress-right .progress-bar {animation: loading-5 1.5s linear forwards;}
.progress[data-percentage="70"] .progress-left .progress-bar {animation: loading-2 1.5s linear forwards 1.5s;}
.progress[data-percentage="80"] .progress-right .progress-bar {animation: loading-5 1.5s linear forwards;}
.progress[data-percentage="80"] .progress-left .progress-bar {animation: loading-3 1.5s linear forwards 1.5s;}
.progress[data-percentage="90"] .progress-right .progress-bar {animation: loading-5 1.5s linear forwards;}
.progress[data-percentage="90"] .progress-left .progress-bar {animation: loading-4 1.5s linear forwards 1.5s;}
.progress[data-percentage="100"] .progress-right .progress-bar {animation: loading-5 1.5s linear forwards;}
.progress[data-percentage="100"] .progress-left .progress-bar {animation: loading-5 1.5s linear forwards 1.5s;}

@keyframes loading-1 {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(36);transform: rotate(36deg);}
}
@keyframes loading-2 {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(72);transform: rotate(72deg);}
}
@keyframes loading-3 {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(108);transform: rotate(108deg);}
}
@keyframes loading-4 {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(144);transform: rotate(144deg);}
}
@keyframes loading-5 {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(180);transform: rotate(180deg);}
}
.progress {margin-bottom: 1em;}
.green .progress .progress-bar {border-color: #54cd98;}
.yellow .progress .progress-bar {border-color: #fea700;}
.blue .progress .progress-bar {border-color: #44a6e7;}
.progressCircle h3 {text-align:center; font-size:16px; color:#000; margin-bottom:30px}

.colorBoxes {margin-bottom:30px;}
.cfrpListing .listBox {background-color: #f4f7f8;margin-bottom:15px;}
.totalBox .cfrpForm {background-color: #f4f7f8; padding:15px;}
.cfrpListing .listBox h3, .totalBox h3 {background-color: #607d8b;text-align: center;color: #fff;font-size: 18px;padding: 10px 0; margin:0;}
.cfrpListing .col-sm-6 {margin-top:30px;}
.cfrpListing .cfrpList {padding:15px; position:relative;height: 170px; overflow-y:auto;overflow-x: hidden;}
.cfrpListing .cfrpList .empty {position:absolute; z-index:1; text-align:center; width:100%; top:50%; transform:translateY(-50%);-moz-transform:translateY(-50%);-webkit-transform:translateY(-50%);color:#c9c9c9;}

.homeMain .btn-toggle {/*top: 50%;transform: translateY(-50%);*/}
.homeMain .btn-toggle {margin: 0 4rem;padding: 0;position: relative;border: none;height: 1.5rem;width: 3rem;border-radius: 1.5rem;color: #6b7381;background: #5463b1;}
.homeMain .btn-toggle:focus,
.homeMain .btn-toggle.focus,
.homeMain .btn-toggle:focus.active,
.homeMain .btn-toggle.focus.active {outline: none;}
.homeMain .btn-toggle:before,
.homeMain .btn-toggle:after {line-height: 1.5rem;width: 4rem;text-align: center;font-weight: 600;font-size: 0.75rem;letter-spacing: 2px;position: absolute;bottom: 0;transition: opacity .25s;}
.homeMain .btn-toggle:before {content: 'Clone';left: -4rem;}
.homeMain .btn-toggle:after {content: 'New';right: -4rem;opacity: .5;}
.homeMain .btn-toggle > .handle {position: absolute;top: 0.1875rem;left: 0.1875rem;width: 1.125rem;height: 1.125rem;border-radius: 1.125rem;background: #fff;transition: left .25s;}
.homeMain .btn-toggle.active {transition: background-color 0.25s;}
.homeMain .btn-toggle.active > .handle {left: 1.6875rem;transition: left .25s;}
.homeMain .btn-toggle.active:before {opacity: .5;}
.homeMain .btn-toggle.active:after {opacity: 1;}
.homeMain .btn-toggle:before,
.homeMain .btn-toggle:after {color: #6b7381;}
.homeMain .btn-toggle.active {background-color: #50b948;}
.homeMain .btn-toggle.btn-lg {margin: 0 5rem;padding: 0;position: relative;border: none;height: 2.5rem;width: 5rem;border-radius: 2.5rem; margin-top:30px;}
.homeMain .btn-toggle.btn-lg:focus,
.homeMain .btn-toggle.btn-lg.focus,
.homeMain .btn-toggle.btn-lg:focus.active,
.homeMain .btn-toggle.btn-lg.focus.active {outline: 0 !important;top:0;} 
.homeMain .btn-toggle.btn-lg:before,
.homeMain .btn-toggle.btn-lg:after {line-height: 2.5rem;width: 5rem;text-align: center;font-weight: 600;font-size: 14px;letter-spacing: 2px;position: absolute;bottom: 0;transition: opacity .25s;}
.homeMain .btn-toggle.btn-lg:before {content: 'Clone';left: -5rem;}
.homeMain .btn-toggle.btn-lg:after {content: 'New';right: -5rem;opacity: .5;}
.homeMain .btn-toggle.btn-lg > .handle {position: absolute;top: 0.3125rem;left: 0.3125rem;width: 1.875rem;height: 1.875rem;border-radius: 1.875rem;background: #fff;transition: left .25s;border: 1px solid #fff;background: rgba(248,251,252,1);
    background: -moz-linear-gradient(-45deg, rgba(248,251,252,1) 0%, rgba(202,213,218,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(248,251,252,1)), color-stop(100%, rgba(202,213,218,1)));
    background: -webkit-linear-gradient(-45deg, rgba(248,251,252,1) 0%, rgba(202,213,218,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(248,251,252,1) 0%, rgba(202,213,218,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(248,251,252,1) 0%, rgba(202,213,218,1) 100%);
    background: linear-gradient(135deg, rgba(248,251,252,1) 0%, rgba(202,213,218,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8fbfc', endColorstr='#cad5da', GradientType=1 );}
.homeMain .btn-toggle.btn-lg.active {transition: background-color 0.25s;}
.homeMain .btn-toggle.btn-lg.active > .handle {left: 2.8125rem;transition: left .25s;}
.homeMain .btn-toggle.btn-lg.active:before {opacity: .5;}
.homeMain .btn-toggle.btn-lg.active:after {opacity: 1;}

.homeMain .form-group {margin-bottom:15px; position:relative;}


.homeMain [type="radio"]:checked,
.homeMain [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.homeMain [type="radio"]:checked + label,
.homeMain [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.homeMain [type="radio"]:checked + label:before,
.homeMain [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.homeMain [type="radio"]:checked + label:after,
.homeMain [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #50b948;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.homeMain [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.homeMain [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.homeMain .formBox {margin-top:30px;}
.homeMain .form-group.radioBtns label, .form-group.radioBtns .radio {display: inline-block;}
.homeMain .form-group.radioBtns {text-align:left; margin-bottom:10px;}
.homeMain .form-group.radioBtns > label {width:50%;} 
.homeMain .form-group.radioBtns .radio {margin-left:10px;}
.homeMain .totalBox input {width: 80%;padding: 0px 0px;border-left: 0;font-size: 12px;line-height: 1.3;height: 37px;}
.totalBox label {width: 20%;background-color: #607d8b;text-align: center;color: #fff;height: 37px;line-height: 37px;}
.totalBox label, .totalBox input {float: left;}
.totalBox .col-sm-3 {padding-left:10px; padding-right:10px;}
.totalBox .col-sm-12 {margin-top:15px;}
.formBox .list-inline {margin-top:30px;}
.formBox .threeForm.clearfix { margin-bottom: 30px;padding-bottom: 30px;border-bottom: 1px solid #f5f5f5;}
.questionTable table {margin: 0 auto; max-width:800px; width:100%;}
.questionTable table thead th {text-align:center;}
.questionTable table tbody th {text-align:right;}
.questionTable table th, .questionTable table td {padding:10px;font-size:16px; font-weight:normal;}
.questionTable table td { background-color:#d9e1e5; border:1px solid #c0c2c3; text-align:center;}
.questionTable {margin: -30px -30px 0; padding: 20px;background-color: #f4f7f8;}
.purpleBg {color: #fff;background-color: #5463b1;padding: 5px;margin: 0 -30px;font-size: 16px;margin-bottom: 30px;}
.homeMain .border {height: 1px;width: 100%;background-color: #ececec;margin: 10px 0 20px;}
.addQuestions .form-group.radioBtns > label {display:block; width:100%;}
.searchform {margin: -30px;padding: 30px;background-color: #f4f7f8;padding-bottom: 20px;margin-bottom: 30px;}
.searchContent .col-sm-6 {margin-top: 30px;}
.searchContent .searchList h3 {font-size: 18px;font-weight: 600;margin-bottom: 15px; line-height:1.3;}
.searchContent .searchList .name {color: #5161ac;}
.searchContent .searchList .metaData {color: #808080;margin-bottom: 15px;font-style: italic;}
.searchContent .searchList p {line-height:24px; margin-bottom:0;}
.searchList ul li {padding: 20px;border-bottom: 1px solid #eaeaea; position:relative;}
.searchList ul li.active {background-color: #f4f7f8;}
.searchList ul li.active:after {content: '';position: absolute;right: -15px;top: 50%;transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);z-index: 1;border: 15px solid transparent;border-left-color: #f4f7f8;border-right-width: 0;}
.detailsBox ul li strong {display: inline-block;width: 140px;}
.detailsBox ul li {margin-bottom: 15px;}
.detailsBox {background-color: #f4f7f8;padding: 20px;}
.detailsBox ul {margin-bottom:30px;}
.paging {margin-top:30px;}
.paging ul li a {font-size: 18px;width: 40px;height: 40px;display: inline-block;text-align: center;line-height: 40px;background-color: #eef2f5;border: 1px solid #d9e1e5;border-radius: 2px;color: #5161ac;}
.paging ul li a i {font-size:24px; line-height:1;}
.paging ul li {vertical-align:top;}
.paging ul li a.green, .paging ul li a.active {background-color: #50b948;border: 1px solid #50b948; color:#fff;}
.detailsBox h3 {font-size: 16px;font-weight: 600;margin-bottom: 20px;}
.detailsBox .description {padding: 20px;line-height: 24px;background-color: #fff;}
.detailsBox {margin-bottom:30px;}
.detailsBox #content-1 { height:160px;}
.form-group.search > input {background-image:url('../images/search.png'); background-repeat:no-repeat; background-position:right center; padding-right:30px;}
.homeMain .btn:focus {color:#fff; outline:none;}
.modal-content {border-radius:0;}
.modal-header {padding: 5px;border-bottom: 1px solid #e5e5e5;background-color: #607d8b;color: #fff; position:relative;}
.modal-header h4 {font-size:18px; text-align:center;}
.homeMain .modal-header .close {margin-top: 0px;position: absolute;right: 0;width: 30px;top: 0;height: 35px;color: #fff;opacity: 1; font-weight: normal;background-color: #4d646f;border-radius: 0;}
.modal-body {padding: 20px 40px;}
.headingBg.text-center {margin: -30px -30px 30px -30px;padding: 10px;background-color: #f4f7f8;}
.headingBg.text-center p {margin-bottom:0;}
.scorePoints {font-size: 18px;line-height: 24px;}
.scoreQuestion > ul {background-color: #f4f7f8;padding: 20px;margin: 20px 0;}
.scoreQuestion > ul .form-group {margin-bottom:0;}
.homeMain .form-group .inlineForm label, .homeMain .form-group .inlineForm input {width: auto;display: inline-block;}
.homeMain .form-group .inlineForm label {margin-right: 5px;}
.homeMain .form-group .inlineForm input {width: 55px;}
.homeMain .form-group .inlineForm {display: inline-block;width: auto;}
.homeMain .form-group .inlineForm {margin-right:10px;}
.homeMain .form-group .inlineForm:last-child {margin-right:0px;}
.searchSection .form-group .inlineForm:last-child { float:right;}
.searchSection .totalBox .cfrpForm, .teamDetails .totalBox .cfrpForm {padding: 10px;}
.homeMain .searchSection .totalBox input, .homeMain .teamDetails .totalBox input {padding: 5px 0px;width: 65%;}
.searchSection .totalBox label, .teamDetails .totalBox label {width: 35%;height: 31px;line-height: 31px; margin-bottom:0;}
.searchSection .totalBox h3, .teamDetails .totalBox h3 {padding:5px 0;}
.searchSection {margin: -30px -30px 30px;padding: 30px;background-color: #f4f7f8;}
.searchSection .totalBox .cfrpForm {background-color: #fafbfc;}
.teamImg img {margin-bottom: 10px; border:1px solid #fff;}
.teamImg {text-align: center;}
.teamBox .headingBar {background-color: #607d8b;color: #fff;padding: 5px 10px;}
.teamBox .headingBar input {display:inline-block; width:80px; margin-left:15px; background-color:#b0bec5; border:1px solid #fff;}
.teamBox .headingBar h3 {font-size:18px; margin-top:8px;}
.teamSlider {padding: 20px 50px;background-color: #f4f7f8; position:relative;}
.homeMain .controls a {position: absolute;top: 50%;z-index: 1;transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);font-size: 50px;font-weight: normal;}
.homeMain .controls a.prevBtn, .homeMain .controls a.prevBtn1 {left:15px;}
.homeMain .controls a.nextBtn, .homeMain .controls a.nextBtn1 {right:15px;}
.teamCarousel {margin-bottom:30px;}
.teamMembers {padding: 20px;border: 1px solid #e9e9e9;margin-bottom: 30px;}
.teamMembers ul li {width: 14.28%;text-align: center;padding: 0 10px;}
.teamMembers img {margin-bottom:10px;}
.teamMembers .role {margin-top: 10px;background-color: #ededed;padding: 5px;}
.searchSection.margin0 {margin-top: 30px;}
.teamMetaData {margin: 10px 0;}
.teamMetaData ul li {margin-right:30px;}
.homeMain .btn.red {background-color: #e12a0c;}
.teamPageHeading h2 {margin-bottom: 10px;}
.searchHint {position: absolute;background-color: #fff;width: 100%;padding: 5px;z-index: 1;box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.15);}
.searchHint li {padding: 10px;border-bottom: 1px solid #d8d8d8;}
.searchHint li:last-child, .teamScroller li:last-child {border-bottom: 0px;}
.teamSearch .modal-body {padding: 0;}
.teamScroller {height:150px;}
.teamScroller li {padding:10px;border-bottom: 1px solid #607d8b;}
.teamSearch .mCSB_inside > .mCSB_container {margin-right: 20px;}
.cfrp-evaluation-section {position: relative;}
.cfrp-evaluation-section input#complete_cfrp, .cfrp-evaluation-section input#complete_cfrp:focus, .cfrp-evaluation-section input#complete_cfrp:hover { position: absolute; bottom: 0px; right: 0px;top:auto;}
.suggest_err .rolename_suggestions { margin-bottom: 0; display: inline-block; margin-right: 10px; color: #607d8b; border-right: 1px dotted #607d8b; padding-right: 10px; line-height: 1; margin-top: 5px; }
.suggest_err { float: none; text-align: left; }
.suggest_err .rolename_suggestions:last-child {margin-right: 0px; border-right: 0px dotted #607d8b; padding-right: 0px;}

.teamsPopups .modal-body {padding: 0;}
.teamsPopups .searchHint {position:static; padding:0; box-shadow:none;}
.teamsPopups .searchHint li {cursor:pointer;}
.teamsPopups .searchHint li:hover {background-color: #e4e4e4;}
.hintActive
{
background: #e4e4e4;
}

@media (min-width:768px){
	.homeMain .modal-dialog {width: 500px;}
}
.removememberbtn , .upremove {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    color: #fff;
    background-color: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 29px;
}
.teamMembers ul li {
    display: inline-block !important;
    vertical-align: top;
    position: relative;
}
.homeMain .searchSection .totalBox input, .homeMain .teamDetails .totalBox input {
    max-height:31px !important;
}
.teamImg a {cursor: crosshair;}
.cfrp_thankyou_invite {    text-align: center;    font-size: 18px;
}
.cfrp_thankyou_invite img {
	margin-bottom:30px;
}
.paging ul li a.green.paginate_roles {
height: 34px; width: 34px; padding: 0; line-height: 36px; border-radius: 5px; }
.paging ul li.active button {
    background-color: #50b948;
    border-color: #50b948;
}
.evaluation .scoreQuestion b {
    display: block;
    position: absolute;
    top: 70px;
}
.btn_p button {
    position: relative;
    top: -40px;
    z-index: 1;
    float: right;
}
.list-inline.btn_q li {
    margin-right: 150px;
}
button.btn.submit_evaluation_cfrp {
    position: relative;
    top: -40px;
}
.updateTeamSection .search label {
    font-size: 21px;
    text-align: center;
    margin-bottom: 10px;
    color: #000;
}
.paging button {
    width: 34px;
}
.teamSlider.listBlock {
    min-height: 216px;
}
.team_create_title {font-weight:600;font-size:18px;}

.profileBox {
    position: relative;margin-bottom: 50px; 
}
